*{
  margin: 0;
  padding: 0;
}
.container{
    display: flex;
    margin-top: 10rem;
   justify-content: center;
   
}
.intro{
  padding: 0;
  width: 40vw;
}
.naam{
  color: rgb(148, 43, 5);
  font-size: 3.2rem;
  margin-bottom: 3rem;
  width: 20vw;
  font-family: cursive;
  
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}



.raj {
    width: 12rem;
    height: 12rem;
    border: 2px solid #ed8936;
    border-radius: 50%;
    box-shadow: 0px 0px 40px rgb(190, 51, 1);
    margin-top: 3rem;
    margin-left: 8rem;
    margin-right: 0;
  }

  @media screen and (max-width: 640px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 90vw;
      margin-top: 4rem; /* Adjust the margin as needed */
      margin-left: .8rem; /* Remove the left margin for smaller screens */
    }
  
    .intro {
      width: 100%; /* Full width for the intro content on smaller screens */
      justify-content: center;
    }
  
    .raj {
      width: 8rem; /* Adjust the size for the image on smaller screens */
      height: 8rem;
      margin-left: 5.9rem; /* Remove the left margin for the image on smaller screens */
      margin-top: 3rem; 
    }
    .naam{
      font-size: 2rem;
      width: 87%;
      margin-left: 2.9rem;
    }
   
  }
  @media screen and (max-width: 328px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 90vw;
      margin-top: 1rem; /* Adjust the margin as needed */
      margin-left: .8rem; /* Remove the left margin for smaller screens */
    }
  
    .intro {
      width: 100%; /* Full width for the intro content on smaller screens */
      justify-content: center;
    }
  
    .raj {
      width: 8rem; /* Adjust the size for the image on smaller screens */
      height: 8rem;
      margin-left: 4rem; /* Remove the left margin for the image on smaller screens */
      margin-top: 3rem; 
    }
    .naam{
      font-size: 2rem;
      width: 80%;
      margin-left: 2.9rem;
    }
   
  }
 
  
  
  
  